# --------------------------------------------
# REQUIRED: BASIC APP SETTINGS
# --------------------------------------------
NODE_ENV=production
PORT=8000

# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
DATABASE_URL=postgresql://postgres:123@localhost:5432/eagle_cement?schema=public

# --------------------------------------------
# OPTIONAL: SECURITY HEADER SETTINGS
# --------------------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:4200

# --------------------------------------------
# REQUIRED: AUTH SETTINGS
# --------------------------------------------
JWT_SECRET=your-jwt-secret-here

# --------------------------------------------
# RESEND
# --------------------------------------------
RESEND_API_KEY=null
RESEND_FROM_EMAIL=System <onboarding@resend.dev>
RESEND_VERIFY_TEMPLATE_ID=null

# --------------------------------------------
# REQUIRED: PLATE RECOGNITION (OCR.space)
# --------------------------------------------
OCR_SPACE_API_KEY=your-ocr-space-api-key
