# --------------------------------------------
# REQUIRED: BASIC APP SETTINGS
# --------------------------------------------
NODE_ENV=production
APP_URL=null
PORT=8000

# --------------------------------------------
# REQUIRED: DATABASE SETTINGS
# --------------------------------------------
DATABASE_URL=postgresql://postgres:123@localhost:5432/eagle_cement?schema=public

# --------------------------------------------
# OPTIONAL: SECURITY HEADER SETTINGS
# --------------------------------------------
CORS_ALLOWED_ORIGINS=http://localhost:4200